h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: brown;
  font-size: 45px;
  text-align: center;
}

h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: green;
  font-size: 25px;
  text-align: center;
}

h3 {
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: royalblue;
font-size: 25px;
text-align: center;
}

p {
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: black;
font-size: 18px;
text-align: center;
}

ff-emphasis {
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
font-size: 45px;
font-style: italic;
}

header h1{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: goldenrod;
font-size: 55px;
text-align: center;
}

header h2{
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: maroon;
font-size: 20px;
text-align: center;
}